.Content{
    height: 460px;
    width: 10px;
    background-color: #fff;
    border-radius: 30px;
    margin: 15px;
    margin-left: 2rem;
    padding: 30px;
    display: flex;
    text-align: center;
    overflow-y: auto;
}

html{
    display: flex;
    justify-content: space-between;

}